/*Metodología BEM
  - Por sus siglas BEM significa:
    - Bloque
    - Elemento 
    - Modificador

  Es una forma que nos permite escribir los selectores CSS de forma mas rapida
  y evitando repetir código para tener que acceder a un selector en concreto.

  Esto nos ayudará mantener un código mas limpio y sin necesidad de escribir
  tanto codigo.

  Es una metodología en dónde se suele utilizar:
    - class = aplicar estilos
    - id = aplicar funcionalidad (javascript)

  Las clases en BEM se pueden nombrar de la siguiente forma:
    - .bloque
    - .bloque__elemento
    - .bloque__elemento--modificador

  ¿Qué propone la metodología BEM?
    - No usar ID's
    - No usar etiquetas
    - Que todo sea un key selector (seleccionar el elemento al que se le
    asignaran los estilos)
*/

/*------------- EJEMPLO 1 ----------------*/

.cards{
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}

.cards .card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
}

.cards .card h3 {
    font-size: 24px;
    font-weight: bold;
}

/*Contexto*/ /*key selector*/
.cards .card  a {
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

/*------------- EJEMPLO con BEM --------------*/

.cardsBEM{
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}

.cardsBEM__card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
}

.card__title {
    font-size: 24px;
    font-weight: bold;
}

/*Clave / key selector*/
.card__link{
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.card__link--rojo{
    background-color: red;
    color: black;
}
